

body {
	font-family: 'Roboto', sans-serif;
	margin: 0 40px 0 20px;
	padding: 0 20px 0 20px;
    width: 100%;
    background-color: #51cacf;
    color: white;
}


.header {
    background: #4F4D53;
    width: 90%;
    height: 60px;
    border-bottom:  12px solid #E8BE02;
}


.title {
    left:40%;
    top:15%;
    text-align: center;
}